*{
    font-family: "Azeret Mono";
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
.nav-section h4{
    font-size: 28px;
}
.nav-section button{
    width: 166px;
    height: 36px;
    background: white;
    border-radius: 4px;
}
.head-img-section{
    background-image: url(./assets/Hero-bg.png);
}
.head-img-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.head-img-section h1{
text-align: center;
font-size: 67px;
font-weight: 800; 
}
.head-img-section p{
text-align: center;
font-size: 22px;
}
.head-img-section button{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 14px 16px;
    color: white;
    background: black;
    border-radius: 10px;
    border: none;
}
.card-section{
    background: #f0f0f0;
    margin: 85px 152px;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 10px;

}
.card-title{
padding: 20px;
text-align: center;
}
.card-section h3{
font-size: 32px;
}
.coding-card{
    display: flex;
    box-shadow: 0px 0px 1px white;
    background-color: #ffffff;
    margin: 60px 150px;
    border-radius: 10px;
}
.coding-title h2{
    font-size: 35px;
}
.coding-title{
margin: 36px;
}
.coding-man{
margin: 21px;
}
.laren-more-{
    border: none;
    color: black;
    background: #e5e5e5;
    padding: 14px 22px;
    border-radius: 11px;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}
.video-title{
    text-align: center;
    padding: 1px 354px;
}
.video-section iframe{
    padding: 12px 305px;
}
.terget-title{
    text-align: center;
    padding: 20px 314px;

}
.terget-title h3{
    font-size: 32px;
}
.html-card{
    box-shadow: 1px 2px 3px gray ;
    padding: 40px;
    border-radius: 12px;
    background: #ff181824;
}

.three-card{
    display: flex;
    padding: 2px 240px;
    gap: 20px;
}
.next-target-title{
    text-align: center;
    padding: 20px 314px;
}
.node-js-card{
    display: flex;
    box-shadow: 9px 0px 5px #eaeaea;
    margin: 21px 280px;
    align-items: center;
    border-radius: 12px;
}
.img-11{
    padding: 25px;
}
.title-111{
    padding: 25px;
}
.support-submit-section{
    background-image: url(./assets/handshake.jpg);
    margin: 44px 114px;
    width: 1250px;
    height: 490px;
}
.title-suppourt h3{
        padding: 21px 347px;
    font-size: 61px;
    color: white;
}
.title-suppourt p{
    padding: 0px 239px;
    font-size: 22px;
    color: white;
}
.support-btn{
    padding: 35px 376px;
}
.form-control{
    padding: 13px 86px;
    border: none;
    border-radius: 5px;
}
.support-btn button{
    padding: 12px 33px;
    border: none;
    border-radius: 6px;
    background: white;
}